main {
    /* border: 2px solid saddlebrown; */

}


/* --------------上方圖片----------------- */
section {
    /* border: 2px solid saddlebrown; */
    max-width: var(--page-width);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;


}

section .left {
    /* border: 2px solid rgb(255, 189, 142); */

    width: 550px;
    height: 550px;
    background-image: url(../image/material/Choux.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;

    clip-path: circle(71.1% at 28% 17%);
}

section .center {
    position: absolute;
    left: 38%;
    top: 210px;
    width: 300px;
}


section .center img {
    width: 100%;
}


section .right {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 0 10px #ffead2b8;
    position: absolute;
    right: 8%;
    top: 8%;
    width: 350px;
    height: 350px;
    background: #ffead2b8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

section .right p {
    /* border: 2px solid rgb(255, 89, 89); */
    width: 250px;
    line-height: 1.5;
    padding: 10px;
    text-align: justify;
    /* animation: text 2.5s 1 forwards; */

}



/* --------------下方嚴選食材----------------- */

/* 標題 */
.ing_title {
    /* border: 2px solid rgb(0, 21, 255); */
    max-width: var(--page-width);
    margin: 0 auto;
    font-size: 1.5rem;
    background-image: url(../image/bgi/title\ \(3\)\ .png);
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 40px;
    text-align: center;
}

/* 食材列表 */
.ingredients {
    /* outline: 2px solid rgb(0, 0, 0); */
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 50px;
}

.ingredients li {
    /* border: 2px solid #CCC; */
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    overflow: hidden;

}

.ingredients li img {
    /* border: 2px solid #CCC; */
    border-radius: 50% 30% 50% 40%;
}


.ingredients .text {
    /* outline: 5px solid rgb(0, 0, 0); */
    line-height: 2;

}

li .text h1 {
    /* outline: 2px solid rgb(0, 0, 0); */
    background: #FFEAD2;
    font-size: 1.3rem;
    padding: 0 20px;
    margin-bottom: 10px;
}


li:nth-child(odd)>h1 {
    /* border: 2px solid rgb(0, 21, 255); */
    background: linear-gradient(to right, #FFEAD2, #FFFFFF);
    border-radius: 15% 90% 70% 20% / 50% 90% 70% 70%;

}

li:nth-child(even)>h1 {
    /* border: 2px solid rgb(0, 21, 255); */
    background: linear-gradient(to left, #FFEAD2, #FFFFFF);
    border-radius: 90% 40% 15% 70%/ 90% 50% 80% 80%;
    text-align: end;
}

.mobile_p {
    display: none;
}