.wrapper {
    /* outline: 2px solid black; */
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 50px 20px;
}

/* ------------------------訂購流程------------------------------ */

.process {
    /* outline: 2px solid rgb(153, 0, 255); */
    text-align: center;
    margin-bottom: 50px;
}


.process .step {
    display: inline-block;
    vertical-align: top;
    max-width: 180px;
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    color: black;
}


.process .step span {
    display: block;
    padding: 10 0;
    /* outline: 2px solid rgb(0, 0, 0); */

}

/* ---------數字部分------ */
.process .step .badge {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0;
    line-height: 50px;
    /* outline: 2px solid rgb(0, 0, 0); */

}


/*---------中間那條線---------*/

.step .badge::before {
    content: " ";
    background-color: #CCC;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    box-sizing: border-box
}

/*---------去掉頭尾--------*/

.step:first-child .badge::before {
    width: 50%;
    left: 50%;
}

.step:last-child .badge::before {
    width: 50%;
    right: 50%;
}

/* ----------數字--------- */

.step .badge .text {
    position: absolute;
    width: 100%;
    z-index: 1;
}

/* ----------圈圈---------- */

.step .badge::after {
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: " ";
    background-color: #CCC;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
}

/* ----------第一步驟背景色---------- */
.step .badge1::after {
    background-color: var(--secondary-color);
}

.step .badge1::before {
    content: " ";
    background-color: var(--secondary-color);
}


/* --------------------共用標題---------------------- */
.car,
.more,
.delivery,
.check {
    display: flex;
    flex-direction: column;
    outline: 1px solid #ccc;
    margin-bottom: 30px;

}

.car>p,
.more>p,
.delivery>p,
.check>p {
    background-color: var(--primary-color);
    padding: 15px;
    font-weight: 300;

}

/* ---------------------購物車-------------------- */

/* ----------購物車標題---------- */
.car_title {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr 1fr 1fr .6fr;
    /* outline: 2px solid rgb(0, 0, 0); */
}

.car_title li {
    /* outline: 1px solid rgb(205, 0, 0); */
    width: 100%;
    text-align: center;
    font-weight: 300;

}

/* ----------購物車內容---------- */

.car_item {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr 1fr 1fr .6fr;
    border-bottom: 1px solid #ccc;
    opacity: 1;
    transition: all 1s;
}

.car_item.fade_out {
    opacity: 0;
}

.car_item li {
    /* outline: 1px solid rgb(205, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    white-space: pre-wrap;
    text-align: center;
}

.car_item li.item_name {
    /* outline: 1px solid rgb(205, 0, 0); */
    padding: 0 5px;

}

.car_item li img {
    width: 100%;
}

.car_item li img:hover {
    border: 2px solid var(--secondary-color);
}

.car_item i.fa-circle-xmark {
    cursor: pointer;
}

.mobile_delete {
    display: none;
}

/* -----------數量加減------------ */
.count {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid var(--secondary-color); */
}

.count li {}

.num-count,
.input-num {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    /* border: 1px solid var(--secondary-color); */
}

.count {
    border: 1px solid #CCC;
    border-radius: 2px;

}

.input-num {
    cursor: default;
    width: 40px;
    font-family: inherit;
    background-color: white;
    border: 0;
}

#num-decrease {
    border-radius: 2px 0 0 2px;
    border-right: 1px solid #CCC;

}

#num-jia {
    border-radius: 0 2px 2px 0;
    border-left: 1px solid #CCC;

}

/* -----------數量加減------------ */

/* ---------------------加購---------------------- */

.more_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;

}

.more_items li {
    /* outline: 2px solid rgb(205, 0, 0); */
    margin: 10px;
    text-align: center;
}


.more_items li img {
    display: flex;
    width: 100%;
    /* outline: 2px solid rgb(47, 0, 255); */
}


.more_items li img:hover {
    border: 2px solid var(--secondary-color);

}

.more_items li h3.item_name {
    /* outline: 2px solid rgb(47, 0, 255); */
    padding: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more_items li h3.item_id {
    /* font-size: .8rem; */
    color: var(--secondary-color);
    padding: 5px 0;

}

.more_items li>p {
    display: inline-block;
    text-align: center;
    padding: 8px;
}

.more_items li button {
    border: 1px solid var(--secondary-color);
    background-color: white;
    color: var(--secondary-color);
    padding: 5px 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    /* outline: 2px solid rgb(47, 0, 255); */

}

.more_items li button:hover {
    background-color: var(--primary-color);
}

.more_items .item_id {
    /* display: none; */
}



/* ---------------------訂單資訊---------------------- */
.order_inf {
    display: flex;
    justify-content: space-between;
    /* outline: 2px solid blue; */
}

/* ----------左側運送資訊----------- */
.order_inf .delivery {
    display: flex;
    width: 48%;

}

.pickup,
.pay,
.attention {
    display: flex;
    flex-direction: column;
    padding: 15px;
    /* outline: 2px solid rgb(255, 92, 92); */

}

.pickup select,
.pay select {
    margin: 15px 0;
    height: 40px;
    font-family: inherit;
    font-weight: inherit;
    border: 1px solid #ccc;
    font-size: inherit;
}

select:focus-visible {
    outline: 2px solid var(--secondary-color);
    border-radius: 2px;
}

select>option {
    font-weight: inherit;

}

.attention .content {
    background-color: var(--primary-color);
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 15px;
    line-height: 2;

}

/* ----------右側訂單資訊----------- */
.order_inf .check {
    display: flex;
    width: 48%;

}

.money {
    /* border: 3px solid rgb(145, 48, 255); */
    padding: 15px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.money>div {
    line-height: 3;
    /* outline: 2px solid rgb(0, 0, 0); */
    display: flex;
    justify-content: space-between;
}



/* ----------折扣碼---------- */
.money>button {
    background-color: var(--primary-color);
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    width: 30%;

}

.sum {
    border-bottom: 1px solid #ccc;
}


.buy>button {
    background-color: var(--secondary-color);
    padding: 15px;
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 0 0 5px #CCC;
    letter-spacing: 12px;
    width: 100%;
    border-radius: 5px;

}

.buy>button:hover {
    color: white;
}