.wrapper {
    /* outline: 2px solid black; */
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 50px 20px;
}


/* ------------------------訂購須知------------------------------ */
/* .notice {
    background-color: #FFEAD2;
    height: 200px;
    text-align: center;
    margin: 20px 0 50px 0;
    outline: 2px solid black;

} */


/* ------------------------訂購流程------------------------------ */

.process {
    /* outline: 2px solid rgb(153, 0, 255); */
    text-align: center;
    margin-bottom: 50px;
}


.process .step {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    margin-left: -3px;
    margin-right: -3px;
    color: black;
}


.process .step span {
    display: block;
    padding: 10 0;
    /* outline: 2px solid rgb(0, 0, 0); */

}

/* ---------數字部分------ */
.process .step .badge {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0;
    line-height: 50px;
    /* outline: 2px solid rgb(0, 0, 0); */

}


/*---------中間那條線---------*/

.step .badge::before {
    content: " ";
    background-color: #CCC;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    z-index: 0;
    box-sizing: border-box
}

/*---------去掉頭尾--------*/

.step:first-child .badge::before {
    width: 50%;
    left: 50%;
}

.step:last-child .badge::before {
    width: 50%;
    right: 50%;
}

/* ----------數字--------- */

.step .badge .text {
    position: absolute;
    width: 100%;
    z-index: 1;
}

/* ----------圈圈---------- */

.step .badge::after {
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: " ";
    background-color: #CCC;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 0;
}

/* ----------第一步驟背景色---------- */
.step .badge1::after {
    background-color: var(--secondary-color);
}

.step .badge1::before {
    content: " ";
    background-color: var(--secondary-color);
}


/* --------------------共用標題---------------------- */
.car,
.more,
.delivery,
.check {
    display: flex;
    flex-direction: column;
    outline: 1px solid #ccc;
    margin-bottom: 50px;

}

.car>p,
.more>p,
.delivery>p,
.check>p {
    background-color: #FFEAD2;
    padding: 15px;
    font-weight: 300;

}

/* ---------------------購物車-------------------- */

/* ----------購物車標題---------- */

.car_title {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    /* outline: 2px solid rgb(0, 0, 0); */

}

.car_title li {
    /* outline: 2px solid rgb(205, 0, 0); */
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-weight: 300;

}

/* ----------購物車內容---------- */



.car_item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    opacity: 1;
    transition: all 1s;
}

.car_item.fade_out {
    opacity: 0;

}

.car_item li {
    /* outline: 2px solid rgb(205, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}




.car_item li img {
    width: 100%;
}

.car_item li img:hover {
    border: 1px solid var(--secondary-color);
}

.car_item li:last-child>i {
    cursor: pointer;
}



/* ---------------------加購---------------------- */

.more_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* padding: 10px; */

}

.more_items li {
    /* outline: 2px solid rgb(205, 0, 0); */
    margin: 10px;
    text-align: center;
}


.more_items li img {
    display: flex;
    width: 100%;
    /* outline: 2px solid rgb(47, 0, 255); */

}

.more_items li h3 {
    /* outline: 2px solid rgb(47, 0, 255); */
    padding: 10px;
}

.more_items li>p {
    /* outline: 2px solid rgb(47, 0, 255); */
    text-align: center;
    padding: 10px;
    padding-top: 0;
    color: #DC9F58;
}

.more_items li button {
    border: 1px solid #DC9F58;
    background-color: white;
    font-size: inherit;
    color: var(--secondary-color);
    padding: 5px 10px;
    margin-top: 10px;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* outline: 2px solid rgb(47, 0, 255); */

}

.more_items li button:hover {
    background-color: #FFEAD2;
}



/* ---------------------訂單資訊---------------------- */
.order_inf {
    display: flex;
    justify-content: space-between;
    /* outline: 2px solid blue; */
}

/* ----------左側運送資訊----------- */
.order_inf .delivery {
    display: flex;
    width: 47%;

}

.pickup,
.pay,
.attention {
    display: flex;
    flex-direction: column;
    padding: 15px;
    /* outline: 2px solid rgb(255, 92, 92); */

}

.pickup select,
.pay select {
    margin: 15px 0;
    height: 40px;
    font-family: inherit;
    font-weight: inherit;
    border: 1px solid #ccc;
    font-size: inherit;
    /* background-color: #DC9F58; */
}

select:focus-visible {
    outline: 2px solid var(--secondary-color);
    border-radius: 2px;
}

select>option {
    font-weight: inherit;

}

.attention .content {
    background-color: #FFEAD2;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 15px;
    line-height: 2;

}

/* ----------右側訂單資訊----------- */
.order_inf .check {
    display: flex;
    width: 47%;

}

.money {
    /* border: 3px solid rgb(145, 48, 255); */
    padding: 15px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.money>div {
    line-height: 3;
    /* outline: 2px solid rgb(0, 0, 0); */
    display: flex;
    justify-content: space-between;
}



/* ----------折扣碼---------- */
.money>button {
    background-color: #FFEAD2;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    width: 30%;

}

.total {
    border-bottom: 1px solid #ccc;
}


.buy>button {
    background-color: #DC9F58;
    padding: 15px;
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 0 0 5px #CCC;
    letter-spacing: 12px;
    width: 100%;
    border-radius: 5px;

}

.buy>button:hover {
    color: white;
}