main {
    /* outline: 2px solid black; */
    width: var(--page-width);
    margin: 0 auto;
}


/* ------------------------訂購須知------------------------------ */
.notice {
    outline: 2px solid rgb(255, 0, 0);
    height: 200px;
    text-align: center;
    margin: 20px 0;
}


/* ------------------------訂購流程------------------------------ */

.process {
    /* outline: 2px solid rgb(153, 0, 255); */
    height: 100px;
    text-align: center;
    margin-bottom: 20px;

}


.process .step {

    display: inline-block;
    vertical-align: top;
    width: 240px;
    max-width: 33%;
    margin-left: -2px;
    margin-right: -2px;
    color: black;
}


.process .step span {
    display: block;
    font-size: 1.2rem;
    padding: 10 0;
    /* outline: 2px solid rgb(0, 0, 0); */

}

/* ---------數字部分------ */
.process .step .badge {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0;
    line-height: 50px;
    /* outline: 2px solid rgb(0, 0, 0); */

}


/*---------中間那條線---------*/

.step .badge::before {
    content: " ";
    background-color: #CCC;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    z-index: 0;
    box-sizing: border-box
}

/*---------去掉頭尾--------*/

.step:first-child .badge::before {
    width: 50%;
    left: 50%;
}

.step:last-child .badge::before {
    width: 50%;
    right: 50%;
}

/* ----------數字--------- */

.step .badge .text {
    position: absolute;
    width: 100%;
    z-index: 1;
    font-size: 1.2rem;
}

/* ----------圈圈---------- */

.step .badge::after {
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: " ";
    background-color: #CCC;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 0;
}


/* ---------------------購物車-------------------- */
.car {
    height: 200px;
    font-size: 1.6rem;
    outline: 1px solid rgb(0, 0, 0);

}

.car p {
    background-color: #FFEAD2;
    padding: 15px;
}

.car ul {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    /* outline: 2px solid rgb(0, 0, 0); */

}

.car ul li {}

.car_block {
    outline: 2px solid rgb(0, 0, 0);
    padding: 15px;

}

/* ---------------------加購---------------------- */
.more {}

/* ---------------------訂單資訊---------------------- */
.order_inf {}

/* ---------------------左側運送資訊---------------------- */
.order_inf .delivery {}

/* ---------------------右側訂單資訊---------------------- */
.order_inf .check {}