/* -------------banner---------------- */
.banner {
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
  /* outline: 2px solid rgb(0, 0, 0); */

}

.banner_img {
  margin: 0 auto;
  display: flex;

  /* outline: 2px solid rgb(255, 36, 36); */


}

.banner_img>img {
  width: 100%;

}

.banner>img {
  /* outline: 2px solid rgb(213, 26, 26); */
  display: block;
  padding: 0 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;


}

section.main {
  /* border: 2px solid rgb(0, 0, 0); */

}

/* -------------標題們---------------- */
.news,
.hot_items,
.faq,
.information {
  /* outline: 2px solid rgb(255, 0, 0); */
  display: block;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 40px;
  margin-bottom: 50px;
  overflow: hidden;
}

.title {
  /* border: 2px solid rgb(0, 21, 255); */
  font-size: 1.5rem;
  background-image: url(../image/bgi/title\ \(3\)\ .png);
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 50px;
  text-align: center;
}





/*--------------最新消息----------------*/

.news {
  margin-top: 50px;
}


.news ul {
  display: flex;
  justify-content: space-around;
}

.news ul li {
  /* border: 4px solid rgb(247, 0, 255); */
  width: 40%;
  border-radius: 5px;
  overflow: hidden;
}


.news>ul>li>a img {
  width: 100%;

}

.news_text_block {
  /* border: 1px solid rgb(255, 0, 0); */

  width: 100%;
  position: relative;

}

.news_text_block>p {
  display: block;
  background-color: rgba(255, 255, 255, 0.772);
  width: 100%;
  text-align: center;
  line-height: 70px;
  color: black;
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  /* 滑鼠移入慢慢出現加入購物車效果????????????????? */
  transition: all ms;

}

li:hover p {
  display: block;
}


/*--------------熱門商品----------------*/




/*--------------中間背景圖----------------*/
.center_bg {
  /* outline: 2px solid #000000; */

  /* margin: 50px; */
  background-image: url(../image/bgi/Choux-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* width: var(--page-width); */
  height: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;

}

.center_text {
  /* outline: 2px solid #000000; */
  background-color: #ffffff90;
  width: 30vw;
  padding: 50px;
  border-radius: 10px;
  text-align: center;


}

.center_text span {
  display: block;
  width: 0%;
  border: 0 solid #DC9F58;
  margin: 20px auto;
  transition: 1s;

}

.center_bg:hover .center_text span {
  width: 100%;
  border: 1px solid #DC9F58;

}


.center_bg .p1 {
  font-weight: 500;
  font-size: 2rem;
  white-space: pre;

}

.center_bg .p2 {
  padding-top: 20px;

}


/*--------------常見問題----------------*/

.faq {
  margin-top: 50px;
  /* outline: 2px solid #f30000; */

}

.faq .title {
  position: relative;
  /* outline: 2px solid #f30000; */


}


/* ----more---- */
.faq .title>a {
  padding: 10px 0 10px 10px;
  text-align: center;
  text-decoration: none;
  color: #DC9F58;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;

}

/* -------------question------------- */
.faq ul {}

.faq ul li {
  outline: 2px solid #CCC;
  background-color: #FFEAD2;
  border-radius: 5px;
  margin-bottom: 30px;
}




.faq ul li a {
  /* outline: 1px solid #000000; */
  width: 100%;
  color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.faq ul li a p {
  /* outline: 1px solid #000000; */
}



.faq .fa-solid {
  display: block;
  /* outline: 2px solid #ff0000; */
  color: #DC9F58;
}

.faq .faq_answer {
  /* outline: 2px solid #ff0000; */
  width: var(--page-width);
  background-color: #ffffff;
  padding: 10px;
  display: none;
}

.faq ul li:hover .faq_answer {
  display: block;

}




/*--------------地圖&營業時間----------------*/


.information .title {}

.information .map {
  /* outline: 2px solid black; */
  display: flex;
  justify-content: space-around;

}

iframe {
  /* outline: 2px solid rgb(192, 20, 20); */
  height: 250px;
  width: 45%;


}

.information .detail {
  /* outline: 2px solid rgb(255, 157, 157); */

}

.information .detail h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #DC9F58;
  margin-bottom: 25px;
  /* outline: 2px solid rgb(255, 157, 157); */


}

.information .detail p {
  line-height: 2.5;
}