    .wrapper {
        /* border: 2px solid saddlebrown; */
        max-width: var(--page-width);
        margin: 0 auto;
    }

    /* ---------------------bread---------------------- */
    .breadcrumb {
        /* border: 2px solid saddlebrown; */
        padding: 20px 0 10px 50px;
        max-width: var(--page-width);
        display: flex;
        align-items: center;
    }

    .breadcrumb li {
        padding: 10px 10px 10px 0;
    }

    .breadcrumb li+li::before {
        content: "/";
        color: #000000;
        padding-right: 10px;
    }

    .breadcrumb li:last-child a {
        color: #DC9F58;
    }

    .breadcrumb li a:hover {
        color: #DC9F58;
    }


    /* -----------------------item_block--------------- */

    .item_block {
        /* border: 2px solid saddlebrown; */
        max-width: var(--page-width);
        display: flex;
        justify-content: center;
    }


    /* ---------------------left_block----------------- */
    .left_block {
        /* outline: 2px solid rgb(255, 0, 0); */
        padding-right: 20px;

    }

    .left_block>img {
        display: block;
        width: 400px;
    }

    .little_img {
        display: flex;

    }

    .little_img>img {
        /* outline: 2px solid rgb(255, 0, 0); */
        width: 110px;
        margin: 20px 20px 0 0;
        cursor: pointer;


    }

    .little_img>img:hover {
        border: 1px solid var(--secondary-color);
    }

    .border {
        border: 1px solid var(--secondary-color);
    }



    /* ------------------right_block--------------------*/

    .right_block {
        /* outline: 2px solid rgb(0, 109, 163); */
        display: block;
        width: 50%;
        padding: 30px;
        padding-top: 0;
    }

    /* -----------產品名稱------------ */

    .right_block .item_name {
        /* outline: 2px solid rgb(0, 0, 0); */
        font-size: 1.5rem;
        margin-bottom: 20px;
        /* letter-spacing: .2rem; */
        font-weight: 300;
        text-align: center;
    }

    /* -----------產品介紹與運費------------ */

    .item_introduce,
    .item_delivery_fee {
        outline: 1px solid #DC9F58;
        margin-bottom: 20px;
        padding: 20px;

        /* background-color: #cccccc3c; */

    }

    .item_introduce h3,
    .item_delivery_fee h3 {
        /* outline: 2px solid rgb(0, 0, 0); */

        font-size: 1.2rem;
        margin-bottom: 20px;
        color: #DC9F58;
        font-weight: 300;



    }

    .item_introduce ul,
    .item_delivery_fee ul {
        /* outline: 2px solid rgb(0, 0, 0); */
        margin-left: 20px;
        column-count: 2;

    }

    .item_introduce ul li,
    .item_delivery_fee ul li {
        margin-bottom: 10px;
        list-style: disc;


    }

    /* -----------價錢------------ */
    .dollars {
        /* outline: 2px solid rgb(0, 0, 0); */
        font-size: 1.5rem;
        margin-bottom: 20px;
        /* text-shadow: 2px 2px 2px #ccc; */
    }

    /* -----------尺寸選擇------------ */

    .item_size button {
        display: inline-block;
        border: 1px solid #DC9F58;
        /* border-radius: 5px; */
        padding: 5px;
        width: 80px;
        text-align: center;
        color: black;
        margin-right: 20px;
        font-size: inherit;
        background-color: #ffffff;
        cursor: pointer;

    }

    .item_size button:hover {
        background-color: var(--primary-color);
    }

    /* -----------數量------------ */

    .item_quantity {}

    .item_quantity ul {
        display: flex;
        margin-bottom: 20px;

    }

    .item_quantity li {
        display: inline-block;
        margin-top: 20px;
    }


    .item_quantity .count .num-jian,
    .input-num,
    .num-jia {
        display: inline-block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #DC9F58;
    }



    .num-jian {
        /* border-radius: 5px 0 0 5px; */
        background-color: #DC9F58;
    }

    .num-jia {
        /* border-radius: 0 5px 5px 0; */
        background-color: #DC9F58;

    }

    .input-num {
        /* outline: 2px solid rgb(8, 136, 255); */
        width: 150px;
    }



    /* -----------購買/加入購物車------------ */
    .item_buy {
        /* outline: 2px solid rgb(0, 0, 0); */
        display: flex;
    }

    .btn1,
    .btn2 {
        border: 1px solid #DC9F58;
        width: 40%;
        margin-right: 30px;
        /* border-radius: 5px; */

    }

    .btn1 a,
    .btn2 a {
        /* border: 2px solid #000000; */

        display: block;
        line-height: 2;
        font-size: 1.2rem;
    }

    .btn1 {
        background-color: #DC9F58;

    }

    .btn1:hover a {
        color: white;
    }


    .btn2 {
        background-color: #ffffff;

    }

    .btn2:hover {
        background-color: var(--primary-color);
    }

    /*--------------分隔線----------------*/

    .hr {
        max-width: var(--page-width);
        margin: 0 auto;
        padding-top: 2px;
        border: #DC9F58;
        background: linear-gradient(to right, transparent, #DC9F58, transparent);
    }

    /* -------------------item_description-------------------- */

    /* --------------選單---------------*/
    .item_description {
        /* border: 2px solid #000000; */
        border: 1px solid #DC9F58;
        margin: 30px 0;
    }

    .tab {
        overflow: hidden;
        display: flex;
        justify-content: space-around;

    }

    .tab button {
        background-color: #FFEAD2;
        width: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        /* transition: 0.3s; */
        font-size: inherit;
    }

    .tab button:hover {
        color: #DC9F58;
    }

    .tab button.active {
        background-color: #DC9F58;
        color: #ffffff;
    }

    .tabcontent {
        display: none;
        padding: 20px;
        line-height: 2;
    }


    /* --------------描述文字---------------*/


    .tabcontent>p:nth-child(odd) {
        color: #DC9F58;
        font-weight: 400;
    }

    /* 無法更改指定的p顏色?????????????????????? */
    /* #deliveryv>p:nth-child(1) {
        color: #8a0000;
    } */