 main {
     /* border: 1px solid black; */
     position: relative;
     max-width: var(--page-width);
     margin: 0 auto;
     overflow: hidden;
 }

 /* ------------------------最新消息------------------------- */
 .news {
     height: 250px;
     background-color: var(--primary-color);
     display: flex;
     position: relative;
 }

 /* ---------背景文字---------*/
 .news>h1 {
     /* outline: 2px solid rgb(0, 0, 0); */
     font-size: 10rem;
     text-align: start;
     font-weight: 900;
     align-self: end;
     font-family: "Orelega", serif;
     color: white;
     position: absolute;
     left: 0;
     bottom: 0;
     animation: title1 5s linear infinite backwards;
     /* animation-play-state: paused; */

 }

 @keyframes title1 {
     0% {
         transform: translateX(-120%);
     }

     100% {
         transform: translateX(230%)
     }
 }

 /* ---------標題---------*/

 .news_title {
     position: absolute;
     top: 210px;
     left: 40%;
     padding: 20px;
     font-size: 1.5rem;
     border: 1px solid var(--secondary-color);
     animation: clippath 1s ease forwards;

 }


 @keyframes clippath {
     0% {
         clip-path: inset(10% 10% 10% 10%);
     }

     25% {
         clip-path: inset(10% 10% 10% 0);
     }

     50% {
         clip-path: inset(10% 10% 0 0);
     }

     70% {
         clip-path: inset(10% 0 0 0);
     }

     100% {
         clip-path: inset(0 0 0 0);
     }
 }




 @keyframes new1_title {
     0% {
         transform: translateX(-100%);
         opacity: 0;
     }

     100% {
         transform: translateX(150%);
         opacity: 1;
     }

 }


 /* ----------------新聞列表--------------------- */

 .new_block {
     /* outline: 2px solid saddlebrown; */
     padding-top: 100px;

 }

 .new {
     border: 1px solid var(--secondary-color);
     margin: 0 auto;
     max-width: var(--page-width);
     width: 650px;
     position: relative;
     display: flex;
     justify-content: space-between;
     margin-bottom: 50px;
 }

 .new .number {
     width: 40px;
     height: 40px;
     background-color: var(--primary-color);
     text-align: center;
     line-height: 40px;
     position: absolute;
     left: 20px;
     top: -20px;

 }

 .new img {
     width: 200px;
     position: absolute;
     right: 20px;
     top: -20px;

 }

 .news_text {
     /* outline: 2px solid saddlebrown; */
     width: 63%;
     height: 100%;
     padding: 40px 20px 20px;
     text-align: justify;
 }

 .news_text>h3 {
     border-bottom: 2px solid var(--secondary-color);
     padding-bottom: 10px;
     color: var(--secondary-color);
 }

 .news_text>p {
     padding-top: 10px;
     line-height: 1.5;
 }


 .btn_block,
 .btn_block_close {
     display: flex;
     align-items: end;
     margin: 0 60px 20px 0;
 }

 .new_block button {
     height: 50px;
     background-color: var(--primary-color);
     cursor: pointer;
     padding: 0;
     text-align: center;
     box-shadow: 2px 2px 2px var(--secondary-color);
 }

 .new_block button a {
     /* outline: 1px solid rgb(255, 0, 191); */
     line-height: 50px;
     text-align: center;
     display: block;
     width: 100%;
     padding: 0 15px;
 }


 .new_block button:hover {
     color: var(--secondary-color);
     transform: scale(1.1);
 }

 .btn_block_close>button {
     height: 50px;
     background-color: #cecece;
     box-shadow: 2px 2px 2px #a5a5a5;
     color: white;
     padding: 0 15px;

 }

 .btn_block_close>button:hover {
     color: white;
     transform: scale(1);
     cursor: default;

 }

 /* ----------------日曆日曆--------------------- */

 .calendar_block {
     /* max-width: var(--page-width); */
     /* outline: 1px solid rgb(255, 0, 191); */
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%23ffead2' fill-opacity='0.5' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
     padding: 50px;
 }

 /* 標題 */
 .calendar_block>h1 {
     margin: 0 auto;
     background-color: var(--primary-color);
     width: 300px;
     line-height: 50px;
     text-align: center;
     margin-bottom: 50px;
     border: 1px solid var(--secondary-color);
 }

 #calendar {
     /* outline: 1px solid rgb(255, 0, 191); */
     background: #ffffff;
     max-width: 800px;
     margin: 0 auto;
 }

 /* 日曆顏色 */
 .fc .fc-button-primary,
 .fc .fc-button-primary:disabled {
     background-color: var(--primary-color);
     border-color: var(--secondary-color);
     color: var(--secondary-color);
     box-shadow: 0;
 }

 .fc .fc-button-primary:hover,
 .fc .fc-button-primary:not(:disabled):active {
     background-color: var(--secondary-color);
     border-color: var(--secondary-color);
     color: white;
     box-shadow: 0;
 }

 .fc .fc-button-primary:focus,
 .fc .fc-button:focus {
     box-shadow: 0;
     border-color: var(--secondary-color);
 }

 .fc .fc-button-primary:active {
     box-shadow: 0;
 }

 :root {
     --fc-border-color: var(--secondary-color);
     --fc-today-bg-color: var(--primary-color);
 }

 .fc-daygrid-event {
     border-radius: 0;
     /* font-size: inherit; */
     padding: 5px;
 }


 /* ----------------熱門商品(common)--------------------- */

 .title {
     /* border: 2px solid rgb(0, 21, 255); */

     font-size: 1.5rem;
     text-align: center;
     line-height: 70px;
 }

 .hot_items {
     /* border: 2px solid rgb(0, 21, 255); */
     margin-bottom: 50px;

 }