.main_block {
  max-width: var(--page-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid rgb(0, 0, 0); */

}


/* -------------------側邊欄---------------------- */
.main_block .aside {
  /* border: 1px solid rgb(255, 0, 0); */
  background-color: #FFEAD2;
  width: 20%;

}

.main_block .aside ul {
  /* border: 1px solid rgb(0, 98, 255); */
  position: sticky;
  left: 0;
  top: 80px;

}

.main_block .aside ul li {
  /* border: 1px solid rgb(0, 98, 255); */
  cursor: pointer;
  display: block;
  padding: 20px;

}



.main_block .aside ul li:hover {
  color: var(--secondary-color);
}

.main_block .aside ul li.active {
  background-color: #DC9F58;
  color: white;
}

/* -------------------分類標題---------------------- */

.tabcontent {
  display: none;

}

.main_block .inner_block {
  /* outline: 2px solid rgb(0, 0, 0); */
  width: 80%;
  padding: 20px;

}

.inner_block .title {
  /* border: 1px solid red; */
  display: flex;
  background-image: url(../image/material/title_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  margin-bottom: 20px;
  /* border-radius: 5px; */
  position: relative;
}

.inner_block .title h1 {
  align-items: center;
  position: absolute;
  font-size: 1.3rem;
  font-weight: 300;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
}



/* -------------------商品區塊---------------------- */



.items_block {
  /* border: 1px solid rgb(255, 5, 5); */
}

.items_block ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.items_block ul li {}


.items_block ul li {
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 0 20px 20px 0;
  margin: 10px;
  transition: all 0.5s ease 0s;

}


/* ---圖片區塊--- */

.img_block {
  /* border: 1px solid rgb(0, 0, 0); */
  position: relative;
  overflow: hidden;
}

.items_block img {
  width: 100%;
  transform: scale(1);
  transition: all 0.5s ease;
  /* border: 1px solid rgb(255, 5, 5); */
}

.items_block ul li:hover img {
  transform: scale(1.1);
}

.img_block .add {
  /* border: 1px solid rgb(255, 5, 5); */
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.495);
  height: 18%;
  width: 100%;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: 0.2s ease;
}

.items_block ul li:hover .add {
  opacity: 1;
}


/* ---文字區塊--- */
.text_block {
  text-align: center;

}

.items_block h3 {
  padding: 12px 0;
  /* border: 1px solid rgb(255, 5, 5); */
}

.items_block .cash {
  /* border: 1px solid rgb(255, 5, 5); */

  background-color: #ffead285;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  padding: 10px;
  font-weight: bold;
  color: #DC9F58;

}

.cash p {
  /* border: 1px solid rgb(255, 5, 5); */

  flex-grow: 3;
  text-align: center;
}



.items_block i {
  /* border: 1px solid rgb(255, 5, 5); */
  width: 20px;
  cursor: pointer;
  margin-right: 10px;

}

.items_block i:last-child {
  margin-right: 0;

}

.text_block .fa-cart-shopping {
  display: none;
}




/* -------------------切換分頁區塊-------------------- */
ul.pagination {
  /* border: 1px solid rgb(255, 5, 5); */
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 20px auto 0;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 12px;
  /* border: 1px solid rgb(255, 5, 5); */


}

ul.pagination li a.active {
  background-color: #DC9F58;
  color: white;
  border-radius: 50%;
}

ul.pagination li a:hover:not(.active) {
  background-color: #FFEAD2;
  border-radius: 50%;

}