
.main_block {
  font-size: 1.6rem;
  max-width: var(--page-width);
  
  margin: 0 auto;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;

}

/* -------------------側邊欄---------------------- */
.main_block .aside{
  background-color: #FFEAD2;
  width: 20%;
  padding: 10px;
  text-decoration: none;
}

.main_block .aside ul li a{
  line-height: 2;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;

}

/* -------------------商品區塊---------------------- */


.main_block .inner_block {
  padding-top: 40px;
  padding-bottom: 65px;
  width: 80%;
  padding: 20px;

}
.inner_block .title {
  /* border: 1px solid red; */
 background-image: url(../image/素材/title_bg.jfif);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 height: 200px;
 border-radius: 5px;
 position: relative;
}

.inner_block .title h1{
    border:  1px solid red;
    align-items: center;
    line-height: 1.5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);


}




