@import url(./reset.css);

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif TC", "Arial";
  margin: 0 auto;

}

html {
  font-size: 18px;
  background-color: #ffffff;
  --page-width: 1100px;
  --primary-color: #FFEAD2;
  --secondary-color: #DC9F58;

}

button,
a {
  font-family: inherit;
  text-decoration: none;
  color: black;

}