@import url(./reset.css);

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif TC", serif;
  margin: 0 auto;

}

html {
  font-size: 16px;
  background-color: #ffffff;
  /* background-image: url(/24864579_m.jpg); */
  --page-width: 1000px;
  /* 設定內容寬度 */

}

button,
a {
  font-family: inherit;
  text-decoration: none;
  color: black;

}