/*--------------分隔線----------------*/

.hr {
    max-width: var(--page-width);
    margin: 0 auto;
    padding-top: 2px;
    margin-bottom: 50px;
    border: #DC9F58;
    background: linear-gradient(to right, transparent, #DC9F58, transparent);
}

/*--------------熱門商品----------------*/

.hot_items .items {
    /* outline: 2px solid black; */
    display: flex;
    /* max-width: var(--page-width); */
    margin: 20px auto;

}

.it {
    border-radius: 5px;
    /* width: 100px; */
    outline: 2px solid #FFEAD2;
    margin: 10px;
    overflow: hidden;

}

.items .img_block {
    /* outline: 2px solid black; */
    position: relative;

}

.items .img_block>img {
    width: 100%;
    display: block;

}

.items .text_block {
    /* outline: 2px solid rgb(255, 0, 0); */
    line-height: 2;
    text-align: center;
}

.items .text_block h3 {
    color: #DC9F58;
    font-weight: 600;
}


.img_block>p {
    text-align: center;
    line-height: 2.5;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.772);
    color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.5s ease;
}

.it:hover p {
    opacity: 1;
}



/* 輪播箭頭 */
.slick-prev:before {
    color: #DC9F58;
    font-size: 2rem;
    position: absolute;
    left: -12px;
}

.slick-next:before {
    color: #DC9F58;
    font-size: 2rem;
    position: absolute;
    right: -12px;

}

.slick-dots li.slick-active button:before {
    color: #DC9F58;

}

.slick-dots li button:before {
    color: #DC9F58;

}