footer {
  background-color: #FFEAD2;

}

.footer {
  /* border: 1px solid black; */
  max-width: var(--page-width);
  height: 240px;
  margin: 0 auto;
  display: flex;
  padding: 30px;
}

/* ------------------footer_left-------------------- */

.footer_left {
  /* outline: 1px solid black; */
  display: flex;
  padding-top: 30px;
  align-items: center;
  justify-content: end;
  flex-basis: 0;
  flex-grow: 1;

}

.footer_left p {
  /* border: 1px solid rgb(255, 0, 0); */
  writing-mode: vertical-lr;
  margin-right: 50px;
  letter-spacing: 1rem;
}

.footer_left a:hover {
  color: #DC9F58;
}

.footer_icons {
  /* border: 1px solid rgb(0, 217, 255); */
  display: flex;
  flex-direction: column;
}

.footer_icons>a {
  /* border: 1px solid rgb(255, 0, 0); */
  margin-bottom: 26px;
  writing-mode: vertical-lr;
  font-size: 1.4rem;
  color: black;
}


/* ------------------footer_logo-------------------- */

footer .footer_center {
  /* outline: 1px solid rgb(255, 13, 13); */
  position: relative;
  flex-basis: 0;
  flex-grow: 1;

}


footer .footer_center a img {
  height: 100%;

}


footer .footer_center a img {
  width: 100%;
}

.footer_center img.color {
  height: 100%;
  transition: all 300ms;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.footer_center img.color:hover {
  opacity: 1;

}

/* ------------------footer_right-------------------- */

.footer_right {
  /* outline: 1px solid black; */
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;


}


.footer_right p {
  line-height: 40px;

}






/* ------------------footer_bottom-------------------- */
footer .footer_bottom {
  /* border: 1px solid rgb(255, 0, 0); */
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
}