 /* ------------上方導覽列------------ */

 header.header {
   height: 80px;
   background-color: #ffead2b8;
   position: sticky;
   top: 0px;
   z-index: 10;
   padding: 0 20px;
   /* border: 3px solid red; */
 }

 header.header nav.nav {
   margin: 0 auto;
   max-width: var(--page-width);
   height: 80px;
   display: flex;
   justify-content: space-between;
   /* border: 3px solid red; */

 }


 header.header nav.nav>a.logo img {
   height: 80px;
 }



 header.header nav.nav ul.nav_list>li {
   display: inline-flex;
   height: 80px;

 }

 header.header nav.nav ul.nav_list>li>a {
   text-align: center;
   line-height: 80px;
   padding: 0 20px;
   font-size: 1.2rem;
   /* border: 3px solid red; */

 }

 header.header nav.nav ul.nav_list>li>a.on,
 header.header nav.nav ul.nav_list>li>a:hover {
   color: #dc9f58;
   border-bottom: 3px solid #dc9f58;
 }

 /*-----------------下拉選單-----------------------*/